{% extends "base.html" %}
{% block body %}

<style>
    #records-list {
        list-style: none;
        padding: 0;
        margin: 0 auto;
    }

    #records-list li:nth-child(odd) {
        background-color: #F1F1F1;
    }

    #records-list li {
        background-color: #FCFCFC;
        padding: 8px 12px;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 88px 12px 88px;
    }

    #records-list li span {
        display: inline-flex;
        flex: 1;
    }

    #records-list li:first-child {
        font-weight: bolder;
    }
</style>

<div class="container">
    <div class="flex between">
        <h1>Fr🐸g DNS Dashboard</h1>
        <a class="btn primary" href="/dashboard/create">+ Create record...</a>
    </div>

    {% if user %}
        <h2>Hi, {{ user.name }}</h2>
        <p>Your email is: {{ user.email }}</p>
        <p>Your token is: {{ user.token }}</p>

        <h2>Your records.</h2>
        <div class="records">
            <ul id="records-list">Loading dns records...</ul>
        </div>

    <script type="text/javascript">
        window.addEventListener('DOMContentLoaded', function (e) {
            // [
            //     {
            //         "_id": "605db96627e307b2e4e3d211",
            //         "createdAt": "Fri, 26 Mar 2021 06:37:26 GMT",
            //         "domain": "superdomein.nl",
            //         "ipv4": "1.1.1.1",
            //         "ipv6": null,
            //         "user": "605db17ec329eec3c5078e45"
            //     },
            //     {
            //         "_id": "605de6c410bd69dc483ae876",
            //         "createdAt": "Fri, 26 Mar 2021 09:51:00 GMT",
            //         "domain": "superdomein.nl",
            //         "ipv4": "1.1.1.1",
            //         "ipv6": null,
            //         "user": "605db17ec329eec3c5078e45"
            //     },
            //     {
            //         "_id": "605de6fab4c2a9e0bfbef146",
            //         "createdAt": "Fri, 26 Mar 2021 09:51:54 GMT",
            //         "domain": "superdomein.nl",
            //         "ipv4": "1.1.1.1",
            //         "ipv6": null,
            //         "user": "605db17ec329eec3c5078e45"
            //     }
            // ]
        

            function fetchRecords() {
                fetch('/records')
                    .then(s => s.json())
                    .then(records => {
                        console.log('records..', records)
                        const recordsList = document.querySelector('#records-list')
                        recordsList.innerHTML = `
                    <li class="header">
                        <span><h3>A record</h3></span>
                        <span><h3>IPV4</h3></span>
                        <span><h3></h3></span>
                    </li>
                    ${records.map(record => `
                        <li>
                            <span>${record.domain}</span>
                            <span>${record.ipv4}</span>
                            <a class="btn secondary" href="/dashboard/update/${record._id}">Update</a>
                            <span></span>
                            <a class="btn secondary danger" href="/dashboard/delete/${record._id}">Delete</a>
                        </li>
                    `).join('')}
                `
                    })
            }
            fetchRecords()
        })
    </script>

    {% endif %}
</div>


{% endblock %}